<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>{{titulo_app}}</title>
</head>
<body>
    <h1>{{titulo_app}}</h1>
    <a href="/listar_squad">Listar</a> <br />
    <a href="/cadastrar_squad">Cadastrar</a> <br />
    <a href="/listar_framework">Listar FrameWork</a> <br />
    <a href="/cadastrar_framework">Cadastrar FrameWork</a><br />
    <a href="/listar_backend">Listar BackEnd</a> <br />
    <a href="/cadastrar_backend">Cadastrar BackEnd</a><br />
    <a href="/listar_sgdb">Listar SGDB</a> <br />
    <a href="/cadastrar_sgdb">Cadastrar SGDB</a>

</body>
</html>