<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Listar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <a class='btn-cadastro' href="/cadastrar">Cadastrar</a>
        <table id='tabela-squad'>
            <thead>
                <tr>
                    <th>SquadId</th>
                    <th>Nome</th>
                    <th>Descriçao</th>
                    <th>Numero Pessoas</th>
                    <th>Linguagem BackEnd</th>
                    <th>Framework</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in lista_squads %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.descricao }}</td>
                    <td>{{ p.numeropessoas }}</td>
                    <td>{{ p.framework.id if p.framework.id != 0 else ''  }}</td>
                    <td>{{ p.framework.nome if p.framework.nome else ''  }}</td>
                    <td>{{ p.backend.id if p.backend.id != 0 else '' }}</td>
                    <td>{{ p.backend.nome if p.backend.nome else ''   }}</td>
                    <td>{{ p.sgdb.id if p.sgdb.id != 0 else '' }}</td>
                    <td>{{ p.sgdb.nome if p.sgdb.nome else '' }}</td>
        
                    <td>
                        <a href="/cadastrar?id={{ p[0] }}" class="editar">Editar</a>
                        <a href="/excluir?id={{ p[0] }}&id_end={{ p[5] }}" class="excluir">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>