<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar_squad" method="get">
            <h4>Dados Squad </h4>
            <input type="hidden" name="id" id="id" value="{{squad.id}}"> <br/>

            <div class="descricoes">
                <label for="Nome">Nome:</label>
            </div>
            <input type="text" name="Nome" id="Nome" placeholder="Digite o nome" value="{{squad.nome}}"> <br/>

            <div class="descricoes"> 
                <label for="Descricao">Descricao:</label>
            </div>
            <input type="text" name="Descricao" id="Descricao" value="{{squad.descricao}}"> <br/>

            <div class="descricoes"> 
                <label for="NumeroPessoas">NumeroPessoas:</label>
            </div>
            <input type="text" name="NumeroPessoas" id="NumeroPessoas" value="{{squad.numeropessoas}}"> <br/>

            
            <div class="descricoes"> 
                <label for="FrameWork">FrameWorkFrontEnd:</label>
            </div> 
          <input type="text" name="FrameWork" id="FrameWork" value="{{squad.framework.id}}"> <br/>
            
            
            <div class="descricoes"> 
                <label for="LinguagemBackEnd">LinguagemBackEnd:</label>
            </div>
            <input type="text" name="LinguagemBackEnd" id="LinguagemBackEnd" value="{{squad.backend.id}}"> <br/>


            <div class="descricoes"> 
                <label for="Sgdb">Sgdb:</label>
            </div>    
            <input type="text" name="Sgdb" id="Sgdb" value="{{squad.sgdb.id}}"> <br/>

            <hr/>
            <button type="submit" value='salvar_squad' class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-warning"><a href='/cadastrar_squad'>Limpar</a></button>
            
        </form>
    </div>
</body>
</html>